@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f79b9b;
    color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

.nav-item:hover {
    background-color: #555;
}

footer {
    background-color: #6f5dbe;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.products-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.product-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #7e5a7b;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #bdd457;
}

.product-details {
    padding: 15px;
}

.product-name {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.product-description {
    font-size: 0.9rem;
    color: #3c6069;
}

.product-price {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #69f1bd;
}

.contact-page {
    text-align: center;
    padding: 20px;
}

.contact-form {
    max-width: 400px;
    margin: 20px auto;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e9dada;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #f59fee;
    color: #ebbdbd;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #caa540;
}

